<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server_framework.web.rbac.mapper.UserRoleMapper">
    <select id="selectUserIds" resultType="Long">
        SELECT DISTINCT user_id FROM ss_user_role
    </select>

    <select id="selectUserIdsByRoleId" resultType="Long">
        SELECT user_id FROM ss_user_role WHERE role_id = #{roleId}
    </select>

    <select id="selectRoleIdByUserId" resultType="Long">
        SELECT role_id FROM ss_user_role WHERE user_id = #{userId}
    </select>

    <insert id="insertUserRole">
        INSERT INTO ss_user_role(user_id, role_id)
                    VALUES(#{userId}, #{roleId})
    </insert>

    <delete id="deleteUserRole">
        DELETE FROM ss_user_role WHERE user_id = #{userId}
    </delete>
</mapper>